<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.solsort.mobgame" version="1.0.0">
<name>Mobile Game demo</name>

<description></description>

<author href="http://www.solsort.com/">.. author...</author>
<icon src="icon.png" gap:role="default" />
<gap:splach src="splash.png" gap:role="default" />

<!-- feature name="http://api.phonegap.com/1.0/network" required="false"/ -->

<preference name="autorotate" value="false" readonly="false"/>
</widget>
